<div class="row span4" ng-repeat="sshParam in sshParams" >
    <div class="alert fade in"><a ng-click="testConnection(sshParam)">{{sshParam}}</a></div>
</div>
<div class="row">
	<div class="span12">
    <h3>Новое соединение</h3>
    <form name="sshConnection">
        <fieldset>
            <input id="ssh-name" ng-model="newSshParams.sshName" type="text" placeholder = "Название">
            <input id="ssh-ip" ng-model="newSshParams.sshIp" type="text" placeholder = "Адрес"></input>
            <input id="ssh-login" ng-model="newSshParams.sshLogin" type="text" placeholder = "Логин"></input>
            <input id="ssh-pass" ng-model="newSshParams.sshPass" type="password" placeholder = "Пароль"></input>
        </fieldset>
        <button class="button button-small" type="submit" ng-click="addConnection()">Добавить</button>
    </form>
            </div>
        </div>        
    </div>
</div>