<div  class="span10" >
    <div class="accordion-group">
		<div class="accordion-heading accordionize">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea">
	           asd
	        </a>
	    </div>	
	    <div class="accordion-body collapse">
            <div class="accordion-inner">
                fwedfsdf
            </div>
        </div>
    </div>
      <div  class="accordion-group">
		<div class="accordion-heading accordionize">
	        <a  class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea">
	           dfds
	        </a>
	    </div>	
	    <div class="accordion-body collapse">
            <div class="accordion-inner">
                  <!-- Start Tabs -->
    
        <h3 class="spec">Tabs</h3>
        
        <div class="tabbable">
        
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a  data-tab="tab1" >Tab</a></li>
                <li><a data-tab="tab2" >Tab</a></li>
                <li><a  data-tab="tab3" >Tab</a></li>
            </ul>
         
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
                    Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien elit.    
                </div>
                <div class="tab-pane fade" id="tab2">
                    Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien elit.                            
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
                </div>
                <div class="tab-pane fade" id="tab3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
                    Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien elit.    
                </div>
            </div>
                    
        </div>
    <!-- End Tabs -->
            </div>
        </div>
    </div>

 <div  class="accordion-group">
		<div class="accordion-heading accordionize">
	        <a  class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#area3">
	           asd
	        </a>
	    </div>	
	    <div id="area3" class="accordion-body collapse">
            <div class="accordion-inner">
                fwedfsdf
            </div>
        </div>
    </div>


</div>	
